<a href="https://colab.research.google.com/github/Sharrfaa/textsummariser/blob/main/Development_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convert code to pseudocode

Running wget command for downloading enron email data

In [ ]:
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

Importing libraries: sqlite3, pandas, matplotlib.pyplot and seaborn

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Establishing connection with database: enron

In [ ]:
conn = sqlite3.connect("enron.db")

Creating cursor object

In [ ]:
cur = conn.cursor()

Checking schema of database

In [ ]:
SQL = """
SELECT name
FROM sqlite_master
WHERE type = 'table';
"""

Executing the SQL query using the cursor object

In [ ]:
cur.execute(SQL)

Fetching the results returned by the query

In [ ]:
cur.fetchall()

Executing the SQL query and storing the result in a dataframe

In [ ]:
table_dataframe = pd.read_sql_query(SQL,conn)
table_dataframe

Checking schema of table - employeelist

In [ ]:
SQL ="""
PRAGMA table_info('employeelist');
"""

Executing the SQL query using the cursor object and

Fetching the results returned by the query

In [ ]:
cur.execute(SQL)
cur.fetchall()

Executing the SQL query and storing the result in a dataframe

In [ ]:
table_dataframe = pd.read_sql_query(SQL,conn)
table_dataframe

Checking schema of table - message

In [ ]:
SQL ="""
PRAGMA table_info('message');
"""

Executing the SQL query using the cursor object and

Fetching the results returned by the query

In [ ]:
cur.execute(SQL)
cur.fetchall()

Checking schema of table - recipientinfo

In [ ]:
SQL ="""
PRAGMA table_info('recipientinfo');
"""

Executing the SQL query using the cursor object and

Fetching the results returned by the query

In [ ]:
cur.execute(SQL)
cur.fetchall()

Checking schema of table - referenceinfo

In [ ]:
SQL ="""
PRAGMA table_info('referenceinfo');
"""

Executing the SQL query using the cursor object and

Fetching the results returned by the query

In [ ]:
cur.execute(SQL)
cur.fetchall()

Checking the date format by writing an sql query to fetch one record from message table

In [ ]:
SQL = """
SELECT date FROM message
"""

Executing the SQL query and storing the result in a dataframe

In [ ]:
message_dataframe = pd.read_sql_query(SQL, conn)
message_dataframe

Counting number of email per day using sql query, strftime and COUNT()

In [ ]:
SQL = """
SELECT strftime('%Y-%m-%d', date)
AS date,
COUNT(*) AS count FROM message
GROUP BY date
"""

Executing the SQL query using the cursor object

In [ ]:
cur.execute(SQL)

Converting data to dataframe

In [ ]:
messageperday_dataframe = pd.read_sql_query(SQL, conn)

Displaying the dataframe

In [ ]:
messageperday_dataframe

Plotting line graph using subplots(), lineplot(), plt.title() and plt.show()

Creating a figure and axes for the plot

Plotting the line using seaborn

Setting a title for the graph

Displaying the graph

In [ ]:
graph1 = plt.subplots(figsize=(40,10))
sns.lineplot(x="date", y="count" ,data= messageperday_dataframe)
plt.title('Message per day')
plt.show()

Counting the number of email per week using sql query, strftime and COUNT()

In [ ]:
SQL = """
SELECT strftime('%Y-%w',Date)
AS Date,
COUNT(*) AS Email FROM message
GROUP BY Date
"""

Executing the SQL query using the cursor object

In [ ]:
cur.execute(SQL)

Executing the SQL query and storing the result in a dataframe

In [ ]:
messageperweek_dataframe = pd.read_sql_query(SQL, conn)
messageperweek_dataframe

Plotting line graph using subplots(), lineplot(), plt.title() and plt.show()

Creating a figure and axes for the plot

Plotting the line using seaborn

Setting a title for the graph

Displaying the graph

In [ ]:
graph2 = plt.subplots(figsize=(50,10))
sns.lineplot(x="Date", y="Email" ,data= messageperweek_dataframe)
plt.title('Message per week')
plt.show()

Counting the number of email per month using sql query, strftime and COUNT()

In [ ]:
SQL = """
SELECT strftime('%Y-%m',Date)
AS Date,
COUNT(*) AS Email FROM message
GROUP BY Date
"""

Executing the SQL query using the cursor object

In [ ]:
cur.execute(SQL)

Executing the SQL query and storing the result in a dataframe

In [ ]:
messagepermonth_dataframe = pd.read_sql_query(SQL, conn)
messagepermonth_dataframe

Plotting line graph using subplots(), lineplot(), plt.title() and plt.show()

Creating a figure and axes for the plot

Plotting the line using seaborn

Setting a title for the graph

Displaying the graph

In [ ]:
graph3 = plt.subplots(figsize=(60,10))
sns.lineplot(x="Date", y="Email" ,data= messagepermonth_dataframe)
plt.title('Message per month')
plt.show()

Writing sql query to count top sender using count()

In [ ]:
SQL = """
SELECT sender, COUNT(*) AS EmailSenderCount
FROM(
  SELECT sender
  FROM Message m
  )
GROUP BY sender
ORDER BY EmailSenderCount DESC
LIMIT 12
;
"""

Executing the SQL query and storing the result in a dataframe

In [ ]:
sender_dataframe = pd.read_sql_query(SQL,conn)
sender_dataframe

Plot bar chart using barplot(), plt.title() and plt.show()

Setting the data for the bar plot

Creating a bar plot using seaborn

Setting the title of the bar chart

Displaying the plot

In [ ]:
data = sender_dataframe
sns.barplot(data=data, y='sender', x='EmailSenderCount')
plt.title('Top Sender')
plt.show()

Writing sql query to count top recipient using count()

In [ ]:
SQL = """
SELECT rvalue as recipient_email, COUNT(*) AS recipient_email_count FROM Recipientinfo
GROUP BY recipient_email
ORDER BY recipient_email_count DESC
LIMIT 10;
"""

Executing the SQL query and storing the result in a dataframe

In [ ]:
recipient_dataframe = pd.read_sql(SQL,conn)
recipient_dataframe

Plot bar chart using barplot(), plt.title() and plt.show()

Setting the data for the bar plot

Creating a bar plot using seaborn

Setting the title of the bar chart

Displaying the plot

In [ ]:
data = recipient_dataframe
sns.barplot(data=recipient_dataframe, y='recipient_email', x='recipient_email_count')
plt.title('Top Recipient')
plt.show()

Writing sql query to categorize by recipient type using count()

In [ ]:
SQL = """
SELECT rtype, COUNT (*) AS RecipientType FROM Recipientinfo
GROUP BY rtype
"""

Executing the SQL query using the cursor object

In [ ]:
cur.execute(SQL)

Executing the SQL query and storing the result in a dataframe

In [ ]:
rtype_dataframe = pd.read_sql(SQL,conn)
rtype_dataframe

Calculating the proportion of each recipient type

In [ ]:
prop_rtype = rtype_dataframe["RecipientType"]/rtype_dataframe["RecipientType"].sum()

Plotting pie chart using subplots(), pie(), title() and show()

Creating a figure and axes for the pie chart

Creating the pie chart using the proportion of recipient types

Setting the title of the pie chart

Displaying the pie chart

In [ ]:
pie1 = plt.subplots(figsize=(7,7))
plt.pie(prop_rtype, labels = rtype_dataframe['rtype'], autopct='%.0f%%', startangle=62)
plt.title('Recipient Types')
plt.show()

Plot bar chart using subplots(), barplot(), plt.title() and plt.show()

Creating a bar plot using seaborn

Setting the title of the bar chart

Displaying the plot

In [ ]:
graph3 = plt.subplots(figsize=(6,4))
sns.barplot(x='rtype', y='RecipientType', data=rtype_dataframe)
plt.title('Recipient type')
plt.show()

Commit the changes to the database

In [ ]:
conn.commit()

Closing the database connection

In [ ]:
conn.close()

# Testing

While coding, I experienced many types of errors. The ones that were obvious and easy to debug were the NameError, AttributeError and syntax errors. The OperationalError were a bit more difficult to fix as I was not used with working on SQL queries. I made a few researches on google and found some of my errors. TypeErrors were also quite simple to debug as google Colab indicates where the error is situated. The graphs were difficult for me at first as I was not used with using the matplotlib.pyplot library. Hence, I encountered many errors before being able to display my line graph.

# Industry Standards

# Used

The main industry standard which I used in my codes are meaningful variables. For example, 'table_dataframe' to represent the table's dataframe, 'cur' short for cursor, 'graph1' for the first graph I displayed, 'EmailSenderCount' for the number of emails per sender and 'recipient_email' to represent the email addresses of the recipients. 

I also tried not to make my codes lengthy and to write as few lines as possible.
I made sure to capitalize the right words for the SQL queries. I used the meaningful names for the columns' titles of the tables. I avoided to make the lines too long as it might be hard to understand. 
And lastly, I used comments for documentation. 
I did not forget to save my work constantly on github version control.

# Did not use

Some industry standards which I did not make use of are security practices as I still haven't learned about how to secure my codes to prevent from malicious attacks. 

I also could not find any developer or programmer to review my codes.