<a href="https://colab.research.google.com/github/Sharrfaa/textsummariser/blob/main/IBP_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

--2023-05-22 09:42:10--  https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1
Resolving curtin-my.sharepoint.com (curtin-my.sharepoint.com)... 13.107.136.8, 13.107.138.8, 2620:1ec:8f8::8, ...
Connecting to curtin-my.sharepoint.com (curtin-my.sharepoint.com)|13.107.136.8|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /personal/211934g_curtin_edu_au/Documents/Teaching/ISYS2001/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1 [following]
--2023-05-22 09:42:13--  https://curtin-my.sharepoint.com/personal/211934g_curtin_edu_au/Documents/Teaching/ISYS2001/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1
Reusing existing connection to curtin-my.sharepoint.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 853819392 (814M) [application/octet-stream]
Saving to: ‘enron.db’

enron.db            100%[===================>] 814.27M  56.3MB/s    in 20s

2023-05-22 09:42:34 (40.4 MB/s) - ‘enron.db’ saved [853819392/853819392]

In [3]:
!wget -O extract.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EbNeFqkc_g1EmQZzAKqc_w8BYeUTUVyexiSsmDbZb1EqAQ?download=1

--2023-05-22 09:42:35--  https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EbNeFqkc_g1EmQZzAKqc_w8BYeUTUVyexiSsmDbZb1EqAQ?download=1
Resolving curtin-my.sharepoint.com (curtin-my.sharepoint.com)... 13.107.136.8, 13.107.138.8, 2620:1ec:8f8::8, ...
Connecting to curtin-my.sharepoint.com (curtin-my.sharepoint.com)|13.107.136.8|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /personal/211934g_curtin_edu_au/Documents/Teaching/ISYS2001/ISYS2001-Assignment-2-Data/extract.db?ga=1 [following]
--2023-05-22 09:42:36--  https://curtin-my.sharepoint.com/personal/211934g_curtin_edu_au/Documents/Teaching/ISYS2001/ISYS2001-Assignment-2-Data/extract.db?ga=1
Reusing existing connection to curtin-my.sharepoint.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 626688 (612K) [application/octet-stream]
Saving to: ‘extract.db’

extract.db          100%[===================>] 612.00K   496KB/s    in 1.2s

2023-05-22 09:42:37 (496 KB/s) - ‘extract.db’ saved [626688/626688]

In [4]:
import sqlite3
import pandas as pd
import matplotlib as plt

In [36]:
conn = sqlite3.connect("enron.db")

In [9]:
cur = conn.cursor()

In [10]:
sql = """
SELECT name
FROM sqlite_master
WHERE type = 'table';
"""

cur.execute(sql)
cur.fetchall()

[('employeelist',), ('message',), ('recipientinfo',), ('referenceinfo',)]

In [14]:
table_df = pd.read_sql_query(sql,conn)
table_df

            name
0   employeelist
1        message
2  recipientinfo
3  referenceinfo

In [16]:
sql2 ="""
PRAGMA table_info('employeelist');
"""

cur.execute(sql2)
cur.fetchall()

[(0, 'eid', 'INTEGER', 1, None, 1),
 (1, 'firstName', 'VARCHAR(31)', 1, "''", 0),
 (2, 'lastName', 'VARCHAR(31)', 1, "''", 0),
 (3, 'Email_id', 'VARCHAR(31)', 1, "''", 0),
 (4, 'Email2', 'VARCHAR(31)', 0, None, 0),
 (5, 'Email3', 'VARCHAR(31)', 0, None, 0),
 (6, 'EMail4', 'VARCHAR(31)', 0, None, 0),
 (7, 'folder', 'VARCHAR(31)', 1, "''", 0),
 (8, 'status', 'VARCHAR(50)', 0, None, 0)]

In [37]:
table_df = pd.read_sql_query(sql2,conn)
table_df

   cid       name         type  notnull dflt_value  pk
0    0        eid      INTEGER        1       None   1
1    1  firstName  VARCHAR(31)        1         ''   0
2    2   lastName  VARCHAR(31)        1         ''   0
3    3   Email_id  VARCHAR(31)        1         ''   0
4    4     Email2  VARCHAR(31)        0       None   0
5    5     Email3  VARCHAR(31)        0       None   0
6    6     EMail4  VARCHAR(31)        0       None   0
7    7     folder  VARCHAR(31)        1         ''   0
8    8     status  VARCHAR(50)        0       None   0

In [28]:
sql6 ="""
SELECT lastName, Email_id, Email2 FROM Employeelist;
"""

cur.execute(sql6)
#cur.fetchall()

In [29]:
table_df = pd.read_sql_query(sql6,conn)
table_df

     lastName                  Email_id                    Email2
0      Badeer   robert.badeer@enron.com         rbadeer@enron.com
1       Hyatt     kevin.hyatt@enron.com     kevin_hyatt@enron.com
2    Geaccone  tracy.geaccone@enron.com  tracy_geaconne@enron.com
3       Lokey       teb.lokey@enron.com       teb_lokey@enron.com
4        Ring    richard.ring@enron.com
..        ...                       ...                       ...
144     South  steven.p.south@enron.com    steven.south@enron.com
145     Clair     carol.clair@enron.com  carol.st.clair@enron.com
146   Stokley   chris.stokley@enron.com
147     Symes      kate.symes@enron.com          ksymes@enron.com
148    Taylor      liz.taylor@enron.com    liz.m.taylor@enron.com

[149 rows x 3 columns]

In [21]:
sql3 ="""
PRAGMA table_info('message');
"""

cur.execute(sql3)
cur.fetchall()

[(0, 'mid', 'INTEGER', 1, "'0'", 1),
 (1, 'sender', 'VARCHAR(127)', 1, "''", 0),
 (2, 'date', 'DATETIME', 0, None, 0),
 (3, 'message_id', 'VARCHAR(127)', 0, None, 0),
 (4, 'subject', 'TEXT', 0, None, 0),
 (5, 'body', 'TEXT', 0, None, 0),
 (6, 'folder', 'VARCHAR(127)', 1, "''", 0)]

In [22]:
table_df = pd.read_sql_query(sql3,conn)
table_df

   cid        name          type  notnull dflt_value  pk
0    0         mid       INTEGER        1        '0'   1
1    1      sender  VARCHAR(127)        1         ''   0
2    2        date      DATETIME        0       None   0
3    3  message_id  VARCHAR(127)        0       None   0
4    4     subject          TEXT        0       None   0
5    5        body          TEXT        0       None   0
6    6      folder  VARCHAR(127)        1         ''   0

In [30]:
sql7 = """
SELECT * FROM message;
"""

cur.execute(sql7)

In [31]:
table_df = pd.read_sql_query(sql7,conn)
table_df

,mid,sender,date,message_id,subject,body,folder
0,52,press.release@enron.com,2000-01-21 04:51:00,<12435833.1075863606729.JavaMail.evans@thyme>,ENRON HOSTS ANNUAL ANALYST CONFERENCE PROVIDES...,HOUSTON - Enron Corp. hosted its annual equity...,Robert_Badeer_Aug2000Notes FoldersPress releases
1,53,office.chairman@enron.com,2000-01-24 01:37:00,<29664079.1075863606676.JavaMail.evans@thyme>,Over $50 -- You made it happen!,"On Wall Street, people are talking about Enron...",Robert_Badeer_Aug2000Notes FoldersPress releases
2,54,office.chairman@enron.com,2000-01-24 02:06:00,<15300605.1075863606629.JavaMail.evans@thyme>,Over $50 -- You made it happen!,"On Wall Street, people are talking about Enron...",Robert_Badeer_Aug2000Notes FoldersPress releases
3,55,press.release@enron.com,2000-02-02 10:21:00,<10522232.1075863606538.JavaMail.evans@thyme>,ROAD-SHOW.COM Q4i.COM CHOOSE ENRON TO DELIVER ...,"HOUSTON =01) Enron Broadband Services (EBS), a...",Robert_Badeer_Aug2000Notes FoldersPress releases
4,56,office.chairman@enron.com,2000-02-07 22:16:00,<16056123.1075863606515.JavaMail.evans@thyme>,Fortune Most Admired Ranking,Congratulations! For an unprecedented five ye...,Robert_Badeer_Aug2000Notes FoldersPress releases
...,...,...,...,...,...,...,...
252754,404923,karen.buckley@enron.com,2002-02-06 16:51:29,<16183734.1075840015218.JavaMail.evans@thyme>,URGENT - NEED CONFIRMATION TODAY,X-FileName: Pls confirm at what location (i.e ...,"ExMerge - Dean, CraigInbox"
252755,404924,karen.buckley@enron.com,2002-02-06 17:17:39,<28117049.1075840015191.JavaMail.evans@thyme>,,X-FileName: Craig - I need the date and locati...,"ExMerge - Dean, CraigInbox"
252756,404925,liz.taylor@enron.com,2002-02-06 20:09:37,<32633742.1075840015168.JavaMail.evans@thyme>,Trader Presentations - 2/7 @ 2:30 p.m. (CST) i...,X-FileName: There will be two presentatio...,"ExMerge - Dean, CraigInbox"
252757,404926,pete.davis@enron.com,2002-02-07 04:38:13,<17912146.1075840015125.JavaMail.evans@thyme>,Start Date: 2/7/02; HourAhead hour: 3;,X-FileName: Start Date: 2/7/02; HourAhead hour...,"ExMerge - Dean, CraigInbox"
252758,404927,pete.davis@enron.com,2002-02-07 05:38:14,<16703414.1075840015101.JavaMail.evans@thyme>,Start Date: 2/7/02; HourAhead hour: 4;,X-FileName: Start Date: 2/7/02; HourAhead hour...,"ExMerge - Dean, CraigInbox"

In [23]:
sql4 ="""
PRAGMA table_info('recipientinfo');
"""

cur.execute(sql4)
cur.fetchall()

[(0, 'rid', 'INTEGER', 1, "'0'", 1),
 (1, 'mid', 'INTEGER', 1, "'0'", 0),
 (2, 'rtype', 'TEXT', 0, None, 0),
 (3, 'rvalue', 'VARCHAR(127)', 0, None, 0),
 (4, 'dater', 'DATETIME', 0, None, 0)]

In [24]:
table_df = pd.read_sql_query(sql4,conn)
table_df

   cid    name          type  notnull dflt_value  pk
0    0     rid       INTEGER        1        '0'   1
1    1     mid       INTEGER        1        '0'   0
2    2   rtype          TEXT        0       None   0
3    3  rvalue  VARCHAR(127)        0       None   0
4    4   dater      DATETIME        0       None   0

In [32]:
sql8 = """
SELECT * FROM Recipientinfo;
"""

cur.execute(sql8)

In [33]:
table_df = pd.read_sql_query(sql8,conn)
table_df

             rid     mid rtype                             rvalue dater
0             67      52    TO            all.worldwide@enron.com  None
1             68      53    TO             all.downtown@enron.com  None
2             69      54    TO      all.enron-worldwide@enron.com  None
3             70      55    TO            all.worldwide@enron.com  None
4             71      56    TO  all_enron_north.america@enron.com  None
...          ...     ...   ...                                ...   ...
2064437  3242059  404927   BCC            john.anderson@enron.com  None
2064438  3242060  404927   BCC              mark.guzman@enron.com  None
2064439  3242061  404927   BCC             michael.mier@enron.com  None
2064440  3242062  404927   BCC               pete.davis@enron.com  None
2064441  3242063  404927   BCC             ryan.slinger@enron.com  None

[2064442 rows x 5 columns]

In [25]:
sql5 ="""
PRAGMA table_info('referenceinfo');
"""

cur.execute(sql5)
cur.fetchall()

[(0, 'rfid', 'INTEGER', 1, "'0'", 1),
 (1, 'mid', 'INTEGER', 1, "'0'", 0),
 (2, 'reference', 'TEXT', 0, None, 0)]

In [26]:
table_df = pd.read_sql_query(sql5,conn)
table_df

   cid       name     type  notnull dflt_value  pk
0    0       rfid  INTEGER        1        '0'   1
1    1        mid  INTEGER        1        '0'   0
2    2  reference     TEXT        0       None   0

In [34]:
sql9 = """
SELECT * FROM Referenceinfo;
"""

cur.execute(sql9)

In [35]:
table_df = pd.read_sql_query(sql9,conn)
table_df

        rfid     mid                                          reference
0          2      79  > From: Le Vine, Debi> Sent: Thursday, August ...
1          3      99  > From: Golden, Mark> Sent: Thursday, August 2...
2          8     533  From: Sole, JeanneSent: Friday, August 18, 200...
3         13     842  From: \tGrigsby, Mike  Sent:\tThursday, March ...
4         14     845  From: Monaco, John [EM] [mailto:john.monaco@ci...
...      ...     ...                                                ...
54773  63020  404873  From: \tEnron Announcements/Corp/Enron@ENRON  ...
54774  63021  404888  From: \tBlair, Kit  Sent:\tWednesday, November...
54775  63022  404907  From: \tDean, Craig  Sent:\tThursday, January ...
54776  63023  404918  From: \tDean, Craig  Sent:\tTuesday, February ...
54777  63024  404920  From: \tDean, Craig  Sent:\tTuesday, February ...

[54778 rows x 3 columns]